#!/usr/bin/make -f
# Made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.

## official debhelper rule may not work on woody backports...
#include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/debhelper.mk
#include debian/cdbs/1/rules/debhelper.mk
include debian/cdbs/1/rules/po-debconf.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include debian/cdbs/1/rules/buildinfo.mk

DEBVERSION := $(shell head -1 debian/changelog | cut '-d ' -f 2 | sed 's/[()]//g')
EPOCH := $(shell expr '$(DEBVERSION)' : '\([^:]\+:\)')
DEBVERSION_ := $(shell expr '$(DEBVERSION)' : '$(EPOCH)\(.*\)$$')
UPSTREAMVER := $(shell expr '$(DEBVERSION_)' : '\([0-9][0-9a-z]*\)debian')
VERSION := $(shell expr '$(DEBVERSION_)' : '\([0-9][0-9a-z]*debian\)')
REVISION := $(shell expr $(DEBVERSION_) : '.*debian\([^-]\+\)-')
# FIXME: Make sure epoch is included/stripped correctly

SEDRULE_FILENAME=-e s/__VER__/$(VERSION)/g -e s/\\.in$$//
SEDRULE_CONTENT=-e s/__DEBIANVER__/$(DEBVERSION)/g -e s/__UPSTREAMVER__/$(UPSTREAMVER)/g -e s/__FULLVER__/$(VERSION).$(REVISION)/g -e s/__VER__/$(VERSION)/g

CFLAGS = -Wall -g -D_REENTRANT -DDISABLE_POP_PROXY
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS += -O0
else
CFLAGS += -O2
endif

DEB_PHONY_RULES += update-control

# Enforce symbol resolution at build time
# (suggested by Debian Policy 3.6.1 chapter 10.2)
SHLIBCFLAGS = -Wl,-z,defs

# Enable Kerberos V support
EXTRAAUTHENTICATORS = gss

# dh_shlibdeps argument -L rewuires debhelper 4.1.1 not in woody
#DEB_DH_SHLIBDEPS_ARGS = -Llibc-client$(VERSION) -ldebian/libc-client$(VERSION)/usr/lib
DEB_DH_SHLIBDEPS_ARGS =	-ldebian/libc-client$(VERSION)/usr/lib -- -Ldebian/libc-client$(VERSION).shlibs

#export DH_VERBOSE=1

pre-build::
	sed $(SEDRULE_CONTENT) <debian/control.in | diff -u debian/control - || ( \
		echo; \
		echo "Upstream version has changed (or debian/control.in is out of sync)"; \
		echo "Please do a 'debian/rules update-control' or edit manually..."; \
		exit 1)

build: build-stamp
build-stamp: debian/stamp-patched
	dh_testdir

	$(MAKE) VERSION=$(VERSION) EXTRAAUTHENTICATORS='$(EXTRAAUTHENTICATORS)' EXTRACFLAGS='$(CFLAGS)' ldb
	mv c-client/c-client.a .
	$(MAKE) clean
	# Use PAM
	$(MAKE) VERSION=$(VERSION) EXTRAAUTHENTICATORS='$(EXTRAAUTHENTICATORS)' EXTRACFLAGS='$(CFLAGS)  $(SHLIBCFLAGS)' ldbs
	LD_LIBRARY_PATH=$(BUILD_TREE)/c-client
	for i in dmail mailutil mlock tmail; do \
		$(MAKE) -C $$i ; \
	done
	pod2man -c "" -r "UW IMAP $(VERSION)" debian/mlock.pod debian/mlock.1

	touch build-stamp

clean::
	$(MAKE) clean
	for dir in $(DEB_PATCHDIRS); do rm -f $$dir/*.log; done
	rm -f c-client.a
	rm -f debian/stamp-*
	rm -f debian/mlock.1
	rm -rf RCS
	for file in `find debian -type f -name '*.in' -not -name control.in -not -name POTFILES.in -not -name watch.in`; do \
		eval targetfile=`echo $$file | sed $(SEDRULE_FILENAME)`; \
		rm -f $$targetfile; \
		done

pre-build::
	for file in `find debian -type f -name '*.in' -not -name control.in -not -name POTFILES.in`; do \
		eval targetfile=`echo $$file | sed $(SEDRULE_FILENAME)`; \
		sed $(SEDRULE_CONTENT) <$$file >$$targetfile; \
		done

# TODO: Use d-shlibmove instead (we already depend on it)
binary-post-install/libc-client$(VERSION)::
	mv debian/$(cdbs_curpkg)/usr/lib/libc-client.so debian/$(cdbs_curpkg)/usr/lib/libc-client.so.$(VERSION).$(REVISION)

# Automatically calculate development package dependencies
common-binary-post-install-arch::
	d-devlibdeps debian/libc-client-dev.substvars debian/libc-client$(VERSION)/usr/lib/libc-client.so.$(VERSION).$(REVISION)

# Daemon and PAM names are not equal
binary-post-install/ipopd::
	mv debian/$(cdbs_curpkg)/etc/pam.d/ipopd debian/$(cdbs_curpkg)/etc/pam.d/pop
binary-post-install/uw-imapd::
	mv debian/$(cdbs_curpkg)/etc/pam.d/uw-imapd debian/$(cdbs_curpkg)/etc/pam.d/imap

binary-predeb/ipopd::
	chown root.mail debian/$(cdbs_curpkg)/usr/sbin/ipop2d
	chown root.mail debian/$(cdbs_curpkg)/usr/sbin/ipop3d
	chmod 2755 debian/$(cdbs_curpkg)/usr/sbin/ipop2d
	chmod 2755 debian/$(cdbs_curpkg)/usr/sbin/ipop3d

binary-predeb/uw-imapd::
	chown root.mail debian/$(cdbs_curpkg)/usr/sbin/imapd
	chmod 2755 debian/$(cdbs_curpkg)/usr/sbin/imapd

binary-predeb/mlock::
	chown root.mail debian/$(cdbs_curpkg)/usr/bin/mlock
	chmod 2755 debian/$(cdbs_curpkg)/usr/bin/mlock

# Run this rule whenever you edit debian/control.in (do not mess
# directly with debian/control!)
# TODO: Integrate with cdbs auto-update.
update-control:
	sed $(SEDRULE_CONTENT) <debian/control.in >debian/control
	echo "Done!"
