#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-
# Copyright © 2003-2006 Jonas Smedegaard <dr@jones.dk>

# This needs to run before cdbs auto-update rule
ifneq (,$(findstring update,$(DEB_BUILD_OPTIONS)))
debian/control:: debian/control.in
DEB_PHONY_RULES += debian/control.in
debian/control.in::
	sed $(SEDRULE_CONTENT) <debian/control.in.in >debian/control.in
endif

include debian/cdbs/1/rules/auto-update.mk
include /usr/share/cdbs/1/class/langcore.mk
include debian/cdbs/1/rules/debhelper.mk
include debian/cdbs/1/rules/po-debconf.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include debian/cdbs/1/rules/buildinfo.mk

DEBVERSION := $(shell head -1 debian/changelog | cut '-d ' -f 2 | sed 's/[()]//g')
EPOCH := $(shell expr '$(DEBVERSION)' : '\([^:]\+:\)')
DEBVERSION_ := $(shell expr '$(DEBVERSION)' : '$(EPOCH)\(.*\)$$')
UPSTREAMVER := $(shell expr '$(DEBVERSION_)' : '\([0-9][0-9a-z]*\)debian')
VERSION := $(shell expr '$(DEBVERSION_)' : '\([0-9][0-9a-z]*debian\)')
REVISION := $(shell expr $(DEBVERSION_) : '.*debian\([^-]\+\)-')
# FIXME: Make sure epoch is included/stripped correctly

SEDRULE_FILENAME = -e 's/__VER__/$(VERSION)/g'
SEDRULE_CONTENT = -e 's/__DEBIANVER__/$(DEBVERSION)/g' -e 's/__UPSTREAMVER__/$(UPSTREAMVER)/g' -e 's/__FULLVER__/$(VERSION).$(REVISION)/g' -e 's/__VER__/$(VERSION)/g'

SEDRULE_PKGCONTENT = $(SEDRULE_CONTENT) -e 's/__PKG__/$(cdbs_curpkg)/g' -e 's/__CERT__/$(CERT_$(cdbs_curpkg))/g' -e 's/__PAMSERVICE__/$(PAMSERVICE_$(cdbs_curpkg))/g' -e 's/__DESC__/$(DESC_$(cdbs_curpkg))/g' -e 's/__DAEMONSETS__/$(DAEMONSETS_$(cdbs_curpkg))/g'
SEDPACKAGES = ipopd uw-imapd

CERT_ipopd = ipop3d
PAMSERVICE_ipopd = pop
DESC_ipopd = University of Washington POP3 daemon
DAEMONSETS_ipopd = pop2:ipop2d pop3:ipop3d pop3s:ipop3d
CERT_uw-imapd = imapd
PAMSERVICE_uw-imapd = imap
DESC_uw-imapd = University of Washington IMAP daemon
DAEMONSETS_uw-imapd = imap2:imapd imap3:imapd imaps:imapd

CFLAGS += -D_REENTRANT -DDISABLE_POP_PROXY

# Suppress seemingly non-fatal warnings to easer spot more important ones.
CFLAGS += -Wno-parentheses -Wno-strict-aliasing
#CFLAGS += -Wno-implicit-function-declaration

DEB_PHONY_RULES += update-control

# Enforce symbol resolution at build time
# (suggested by Debian Policy 3.6.1 chapter 10.2)
SHLIBCFLAGS = -Wl,-z,defs

# Enable Kerberos V support
EXTRAAUTHENTICATORS = gss

# dh_shlibdeps argument -L rewuires debhelper 4.1.1 not in woody
#DEB_DH_SHLIBDEPS_ARGS = -Llibc-client$(VERSION) -ldebian/libc-client$(VERSION)/usr/lib
DEB_DH_SHLIBDEPS_ARGS =	-ldebian/libc-client$(VERSION)/usr/lib -- -Ldebian/libc-client$(VERSION).shlibs

# Upstream README is more of a README.build
DEB_INSTALL_DOCS_ALL =

pre-build::
	sed $(SEDRULE_CONTENT) <debian/control.in.in | diff -u debian/control.in - || ( \
		echo; \
		echo "Upstream version has changed (or debian/control.in.in is out of sync)"; \
		echo "Do a 'DEB_BUILD_OPTIONS=update fakeroot debian/rules clean' or edit manually."; \
		exit 1)

build: build-stamp
build-stamp: debian/stamp-patched
	dh_testdir

	$(MAKE) VERSION=$(VERSION) EXTRAAUTHENTICATORS='$(EXTRAAUTHENTICATORS)' EXTRACFLAGS='$(CFLAGS)' ldb
	mv c-client/c-client.a .
	$(MAKE) clean
	# Use PAM
	$(MAKE) VERSION=$(VERSION) EXTRAAUTHENTICATORS='$(EXTRAAUTHENTICATORS)' EXTRACFLAGS='$(CFLAGS)  $(SHLIBCFLAGS)' ldbs
	LD_LIBRARY_PATH=$(BUILD_TREE)/c-client
	for i in dmail mailutil mlock tmail; do \
		$(MAKE) -C $$i ; \
	done
	pod2man -c "" -r "UW IMAP $(VERSION)" debian/mlock.pod debian/mlock.1

	touch build-stamp

clean::
	$(MAKE) clean
	for dir in $(DEB_PATCHDIRS); do rm -f $$dir/*.log; done
	rm -f c-client.a
	rm -f debian/stamp-*
	rm -f debian/mlock.1
	rm -rf RCS

# Setup (and tear down) files containing variables static per build
pre-build::
	for file in `find debian -maxdepth 2 -type f -name '*.in' -not -name control.in -not -name control.in.in -not -name POTFILES.in`; do \
		targetfile=`echo $$file | sed $(SEDRULE_FILENAME) -e 's/\\.in$$//'`; \
		sed $(SEDRULE_CONTENT) <$$file >$$targetfile; \
	done

clean::
	for file in `find debian -maxdepth 2 -type f -name '*.in' -not -name control.in -not -name control.in.in -not -name POTFILES.in -not -name 'watch.in'`; do \
		targetfile=`echo $$file | sed $(SEDRULE_FILENAME) -e 's/\\.in$$//'`; \
		rm -f $$targetfile; \
	done

# Setup (and tear down) files containing variables static per package
$(patsubst %,configure/%,$(SEDPACKAGES)) ::
	for file in `find debian -maxdepth 2 -type f -name '*._in'`; do \
		targetfile=`echo $$file | sed $(SEDRULE_PKGFILENAME) -e 's/\\._in$$//' -e 's/__PKG__/$(cdbs_curpkg)/g'`; \
		sed $(SEDRULE_PKGCONTENT) <$$file >$$targetfile; \
	done

$(patsubst %,binary-post-install/%,$(SEDPACKAGES)) ::
	if [ "$(cdbs_curpkg)" != "$(PAMSERVICE_$(cdbs_curpkg))" ]; then \
		mv debian/$(cdbs_curpkg)/etc/pam.d/$(cdbs_curpkg) debian/$(cdbs_curpkg)/etc/pam.d/$(PAMSERVICE_$(cdbs_curpkg)); \
	fi

clean::
	for file in `find debian -maxdepth 2 -type f -name '*._in'`; do \
		for pkg in $(SEDPACKAGES); do \
			targetfile=`echo $$file | sed $(SEDRULE_PKGFILENAME) -e 's/\\._in$$//' -e "s/__PKG__/$$pkg/g"`; \
			rm -f $$targetfile; \
		done; \
	done

# TODO: Use d-shlibmove instead (we already depend on it)
binary-post-install/libc-client$(VERSION)::
	mv debian/$(cdbs_curpkg)/usr/lib/libc-client.so debian/$(cdbs_curpkg)/usr/lib/libc-client.so.$(VERSION).$(REVISION)

# Automatically calculate development package dependencies
common-binary-post-install-arch::
	d-devlibdeps debian/libc-client-dev.substvars debian/libc-client$(VERSION)/usr/lib/libc-client.so.$(VERSION).$(REVISION)

binary-predeb/ipopd::
	chown root.mail debian/$(cdbs_curpkg)/usr/sbin/ipop2d
	chown root.mail debian/$(cdbs_curpkg)/usr/sbin/ipop3d
	chmod 2755 debian/$(cdbs_curpkg)/usr/sbin/ipop2d
	chmod 2755 debian/$(cdbs_curpkg)/usr/sbin/ipop3d

binary-predeb/uw-imapd::
	chown root.mail debian/$(cdbs_curpkg)/usr/sbin/imapd
	chmod 2755 debian/$(cdbs_curpkg)/usr/sbin/imapd

binary-predeb/mlock::
	chown root.mail debian/$(cdbs_curpkg)/usr/bin/mlock
	chmod 2755 debian/$(cdbs_curpkg)/usr/bin/mlock
